/**
 * The home page article list is vanilla. We just need to change font sizes in
 * certain cases such as article notes or when the article is supposed to be
 * highlighted.
 */

.articles .article {
  margin-top: 24px;
}

.articles .article h3 {
  display: inline;
  font-size: 1rem;
}

.articles .article.is-blog-post h3 {
  font-size: 1.25rem;
}

.articles .article.has-topic::after {
  position: absolute;
  font-variant: small-caps;
  color: grey;
  font-size: 10px;
}

.has-topic.is-about-math::after {
  content: '\221e';
}

.has-topic.is-video::after {
  content: '\25b6';
}

.has-topic.is-podcast::after {
  content: '\01F399';
}

.has-topic.is-book::after {
  content: '\01F4D6';
}

.articles .article time {
  color: grey;
  display: block;
  font-size: 0.75rem;
  padding-right: 8px;
  width: 75px;
}

.articles .article .note {
  font-size: 0.75rem;
}

@media only screen and (min-width: 1024px) {
  .articles .article time {
    display: inline-block;
  }
}
